<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="form-group">
      <label for="title" class="mb-1">Title</label>
      <input
        type="text"
        id="title"
        name="title"
        value="<%= article.title %>"
        class="form-control mb-2"
        required
      />
    </div>
    <div class="form-group">
      <label for="description" class="mb-1">Description</label><br />
      <textarea
        type="text"
        id="description"
        name="description"
        class="form-control mb-2"
      >
<%= article.description %></textarea
      >
    </div>
    <div class="form-group">
      <label for="markdown" class="mb-1">MarkDown</label><br />
      <textarea
        type="text"
        id="markdown"
        name="markdown"
        class="form-control mb-2"
        required
      >
<%= article.MarkDown %></textarea
      >
    </div>
    <a class="btn btn-secondary me-3" href="/">Cancel</a>
    <input type="submit" value="Submit" class="btn btn-primary" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
